pypdf
langchain
langchain_community
tqdm
logging
argparse
streamlit
fitz
frontend
tools
spacy
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.7.0/fr_core_news_sm-3.7.0.tar.gz
PyPDF2
streamlit_feedback
openai
faiss-cpu
tiktok