pypdf
langchain
langchain_community
tqdm
logging
argparse
streamlit
frontend
tools
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.7.0/fr_core_news_sm-3.7.0.tar.gz
PyPDF2
streamlit_feedback
openai
faiss-cpu
tiktoken
langchain_openai
pandas
pymupdf
